OPENAI_API_KEY= "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"

# Update these with your Supabase details from your project settings > API and dashboard settings
PINECONE_API_KEY= "a87410d4-dab2-453f-b50c-0d998a254dae"
PINECONE_ENVIRONMENT= "us-east-1-aws"
PINECONE_INDEX_NAME= "myindex-5ac0e97.svc.u-east-1-aws.pinecone.io"
